---
layout: layouts/under-construction.liquid
title: Homepage
---

{% assign majorWork = work[0].work %}

<div class="minHeight-100vh color-mono-black">
  <div class="under-construction__header pt-2">
    <h1 class="opening-text text-h1 text-center">
      I make the web <br>
      <span class="opening-text--functional">functional</span> <br>
      <span class="opening-text--pretty">and pretty</span>
    </h1>

    {% include coordinateArt.liquid %}
  </div>

  <br class="hidden-xl-down">

  <div>
    <img width="200" height="200" class="logo block mx-auto sm--ml-none sm--mr-8 mb-6 border-radius-full" src="/assets/images/global/profile.jpg" alt="Maxwell's profile picture" />

    <p>
      Hello there! I'm <span class="new-color">Max Antonucci</span>, a full-stack engineer that codes with HTML, CSS, JavaScript, Ember, React, Ruby, Ruby on Rails, and many more. My specialties include web accessibility and design systems, and I love when I have the opportunity to work in the civic tech sphere.
    </p>

    <p>
      This site is a redesign in progress. Please bear with me as I move over ten years of content around.
    </p>
  </div>

  <br>

  <h3 class="text-center">
    Projects
  </h3>

  <p>
    If you want to learn more about what I can do, check out some of the projects I've worked on below!
  </p>

  <section class="flex flex-wrap flex-gap-4">
    {% for workItem in majorWork %}
      <article class="work-article flex flex-column flex-align-center border-mono-black box-shadow-2">
        <div class="work-image" style="background-image: url('/assets/images/work/{{ workItem.image }}')"></div>

        <div class="work-item__content flex flex-column px-4 py-4 md--px-6">
          <h3 class="text-h5 mt-0">
            {{ workItem.title }}
          </h3>

          <p class="work-text text-small">
            {{ workItem.description }}
          </p>

          <div class="flex flex-wrap flex-gap-4 mt-auto">
            {% if workItem.urls.code %}
              <a href="{{ workItem.urls.code }}">
                View Code <span class="screenReader"> for {{ workItem.title }}</span>
              </a>
            {% endif %}

            {% if workItem.urls.demo %}
              <a href="{{ workItem.urls.demo }}">
                View Demo <span class="screenReader"> for {{ workItem.title }}</span>
              </a>
            {% endif %}
          </div>
        </div>
      </article>
    {% endfor %}
  </section>

  <br>
  <br>

  <h3 class="text-h4 text-center">
    Want to get in touch?
  </h3>

  <p class="text-center">
    You can find me on <a href="https://www.linkedin.com/in/maxwellantonucci/">LinkedIn,</a> <a href="https://github.com/maxx1128">Github,</a> <a href="http://codepen.io/max1128/">CodePen,</a> or <a href="https://forms.gle/5t65UjwHEQdKxAj8A" target="_blank" rel="noopener">reach out to me directly.</a>
  </p>

  <br>
  <br>
  <br>
</div>
