---
layout: layouts/page.liquid
title: Today I Learned
tagline: Programming takes constant learning. It's not one a day, but pretty close.
contentType: "Page"
---

<div class="post-content--full-bleed post-content--full-bleed--no-mt post-content--full-bleed--no-mb">
  <div class="resp-max-width mb-12">
    <p>
      There have been many times where I learn a useful programming tip or trick and want to write about it. But I don't, since it feels too short, niche, or technical to add to <a href="/writing/">my blog posts.</a> It's also too on-point for <a href="/notes/">my random assortment of notes.</a> So the knowledge languishes in my mind for a while before fading away.
    </p>

    <p>
      So when I saw a developer with a collection of "Today I Learned" lessons, I realized it was the exact type of blog post I was missing. Styling and visuals are kept to a minimum here - it's all about what I've learned.
    </p>

    <p>
      Below you'll find all the lessons I've recorded, sorted by category. <a class="hidden" id="random-lesson-link">Or you can read a random lesson.</a>
    </p>
  </div>

  {% comment %}
    Use this if there's lots of lessons for easier navigation
  {% endcomment %}

  {% comment %} <ul>
    {% for category in collections.TILCategories %}
      <li>
        <a href="#{{category}}">
          {{ category }}
        </a>
      </li>
    {% endfor %}
  </ul> {% endcomment %}

  <ul class="today-I-learned__collections resp-max-width resp-max-width--large list-reset flex flex-wrap flex-gap-6">
    {% for category in collections.TILCategories %}
      <li class="today-I-learned__collection px-0">
        <h2 id="{{ category }}">
          {{ category }}
        </h2>

        <ul>
          {% for lesson in collections.reversedTIL %}
            {% if lesson.data.category == category %}
              <li>
                <a href="{{lesson.url}}">
                  {{ lesson.data.title }}
                </a>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      {% endfor %}
    </li>
  </ul>
</div>
