<article class="now-books__item book relative m-2 py-4 px-2">
  <img class="book__image block" src="/assets/images/now/books/{{ book.image_url }}" alt="The book cover for {{ book.title }}">
  <p class="book__title absolute my-0 p-1 text-small text-center font-weight-bold">
    <a href="{{ book.link }}" target="_blank" rel="noopener">{{ book.title }}</a>
  </p>
  <p class="book__author absolute my-0 text-small text-center">
    By {{ book.author }}
  </p>
</article>
