<head>
  {% assign titleSuffix = " - " | append: metadata.title %}

  {% if contentType == "Note" %}
    {% assign title = date | noteDate | prepend: "Note on " | append: titleSuffix %}
  {% elsif contentType == "Today I Learned" %}
    {% assign title = title | prepend: "Today I learned: " | append: titleSuffix %}
  {% elsif title %}
    {% assign title = title | append: titleSuffix %}
  {% else %}
    {% assign title = metadata.title %}
  {% endif %}

  {% if tagline and tagline != '' %}
    {% assign description = tagline %}
  {% elsif excerpt and excerpt != '' %}
    {% assign description = excerpt | strip_html | strip_newlines | truncate: 160 %}
  {% elsif metaExcerpt and metaExcerpt != '' %}
    {% assign description = metaExcerpt | strip_html | strip_newlines | truncate: 160 %}
  {% else %}
    {% assign description = metadata.description %}
  {% endif %}

  {% if contentType == "Note" %}
    {% assign featured_image = "/assets/images/global/social-note.png" | prepend: metadata.url %}
  {% elsif contentType == "Today I Learned" %}
    {% assign featured_image = "/assets/images/global/social-til.jpg" | prepend: metadata.url %}
  {% else %}
    {% comment %} Only use this to bring back Note and TIL social images {% endcomment %}
    {% assign featured_image_fileName = title | replace: titleSuffix, "" | slug | addNbsp | safe %}
    {% assign featured_image = "/assets/images/social/" | append: featured_image_fileName | append: ".png" | prepend: metadata.url %}
  {% endif %}

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="{{ metadata.url | append: '/assets/images/global/favicon.ico' }}" />
  <link rel="apple-touch-icon" sizes="192x192" href="{{ metadata.url | append: '/assets/images/icons/icon-192.png' }}" />

  <title>{{ title }}</title>
  <meta name="thumbnail" content="{{ featured_image }}" />
  <meta property="og:image" content="{{ featured_image }}"/>
  <meta name="description" content="{{ description }}">
  <meta name="p:domain_verify" content="0b12e07a4feaad3b7aa48fee8ecae8db"/>
  <meta name="description" content="{{ description }}">
  <link rel="manifest" href="/manifest.webmanifest">

  {% if url == "/404.html" %}
    <meta http-equiv="refresh" content="3; url=/">
  {% endif %}

  <link rel="preload" href="/assets/type/work-sans/WorkSans-Light.otf" as="font" type="font/otf" crossorigin>
  <link rel="preload" href="/assets/type/work-sans/WorkSans-Medium.otf" as="font" type="font/otf" crossorigin>
  <link rel="preload" href="/assets/type/work-sans/WorkSans-LightItalic.otf" as="font" type="font/otf" crossorigin>
  <link rel="preload" href="/assets/type/aller/Aller_Bd.ttf" as="font" type="font/ttf" crossorigin>

  <style>
    * { background-size: 0% 0%; }
    img { max-width: 100%; }
  </style>
  <link rel="stylesheet" type="text/css" href='/assets/css/main.css'>
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: metadata.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ metadata.title }}" href="{{ metadata.url | append: '/rss.xml' }}">

  <!-- Open Graph data -->
  <meta property="og:title" content="{{ title }}" />
  <meta property="og:type" content="article" />
  <meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: metadata.url }}" />
  <meta property="og:description" content="{{ description }}" />
  <meta property="og:site_name" content="maxwellantonucci.com" />
  <meta property="og:image" content="{{ featured_image }}"/>
  <meta property="og:image:width" content="1000" />
  <meta property="og:image:height" content="1000" />

  <!-- Twitter Card data -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@Maxwell_Dev">
  <meta name="twitter:title" content="{{ title }}">
  <meta name="twitter:description" content="{{ description }}">
  <meta name="twitter:summary" content="{{ description }}">
  <meta property="twitter:image" content="{{ featured_image }}"/>
  <meta name="twitter:creator" content="@Maxwell_Dev">

  <link type="application/atom+xml" rel="alternate" href="{{ metadata.url | append: 'rss.xml' }}" title="{{ metadata.title }}">
</head>
