<nav class="nav__header width-100 flex flex-column mx-auto pb-1 text-mono-white bg-primary-darkest">
  <div class="resp-max-width flex flex-column sm--flex-row flex-justify-between">
    <div class="py-2 flex flex-column flex-align-start">
      <h1 class="my-0 mr-4 text-h6">
        <a class="text-mono-white" href="{% if page.url == '/' %}#content{% else %}/{% endif %}">
          Max Antonucci
        </a>
      </h1>
      <p class="my-0 text-tiny italic">
        {{metadata.description}}
      </p>
    </div>

    <div class="theme-switcher flex mb-4 sm--mb-0 text-tiny">
      {% for theme in site.data.themes %}
        <div class="theme-switcher__option flex flex-align-center {% unless forloop.last %}mr-2{% endunless %}">
          <input class="theme-switcher__input" type="radio" id="theme-{{ theme.name }}" name="theme-selector" value="{{ theme.name }}"\>
          <label class="theme-switcher__label inline-block px-3 py-1 capitalize border-radius-small bg-primary-darkest" for="theme-{{ theme.name }}">
            {{ theme.name }}
          </label>
        </div>
      {% endfor %}
    </div>
  </div>

  <div class="nav__main-menu-wrapper bg-primary-darker">
    <ul id="navigation-menu" class="nav__main-menu resp-max-width mb-0 py-1 md--py-0 flex flex-justify-between list-reset">
      {% for menu_item in menu %}

          {% if menu_item.link == page.url %}
            {% assign active_page = true %}
            {% assign current_page = true %}
          {% elsif page.path contains 'posts' and menu_item.link == '/writing/' %}
            {% assign active_page = true %}
            {% assign current_page = false %}
          {% elsif page.url contains '/writing/' and menu_item.link contains '/writing/' %}
            {% assign active_page = true %}
            {% assign current_page = false %}
          {% elsif page.url contains 'tag' and menu_item.link == '/writing/' %}
            {% assign active_page = true %}
            {% assign current_page = false %}
          {% elsif page.path contains 'notes' and menu_item.link == '/notes/' %}
            {% assign active_page = true %}
            {% assign current_page = false %}
          {% elsif page.url contains '/notes/' and menu_item.link contains '/notes/' %}
            {% assign active_page = true %}
            {% assign current_page = false %}
          {% elsif page.url contains '/exocortex/' and menu_item.link contains 'exocortex' %}
            {% assign active_page = true %}
            {% assign current_page = false %}
          {% else %}
            {% assign active_page = false %}
            {% assign current_page = false %}
          {% endif %}

          <li class="inline-block mb-0 text-center {% unless forloop.last %}mr-4{% endunless %}">
            <a class="block p-2 text-mono-white text-small {% if forloop.first == true %}md--pl-0{% elsif forloop.last == true %}md--pr-0{% endif %} {% if active_page %}font-weight-bold{% endif %}" href="{% if current_page %}#content{% else %}{{menu_item.link}}{% endif %}" {% if menu_item.external %}target="_blank" rel="noopener"{% endif %}>
              {{ menu_item.name }}
            </a>
          </li>
      {% endfor %}
    </ul>
  </div>
</nav>
