{% assign note_index = index | default: 1 %}

<article class="note-styler poke-coloring poke-coloring--{{ note_index }} {{ class }} flex flex-column">
  {% include doodleColumns.liquid %}

  <div class="post-content width-100">
    {% if singleNotePage %}
      <h2 class="mt-0">
    {% else %}
      <h3 class="mt-0">
    {% endif %}

      {% if url %}
        <a href="{{ url }}">
      {% endif %}
        <span class="screenReader">Note posted on</span> {{ date | noteDate }}
      {% if url %}
        </a>
      {% endif %}

    {% if singleNotePage %}
      </h2>
    {% else %}
      </h3>
    {% endif %}

    {{ content | replace: "<p><img", "<figure><img" | replace: "></p>", "></figure>" }}
  </div>
</article>
