{% assign note_index = index | default: 1 %}

<article class="note-styler note-coloring--{{ note_index }} {{ class }} flex flex-column">
  <div class="resp-max-width py-4">
    {% if singleNotePage %}
      <h2 class="mt-0">
    {% else %}
      <h3 class="mt-0">
    {% endif %}

      {% if url %}
        <a href="{{ url }}">
      {% endif %}
        {{ date | noteDate }}
      {% if url %}
        </a>
      {% endif %}

    {% if singleNotePage %}
      </h2>
    {% else %}
      </h3>
    {% endif %}

    {{ content }}
  </div>

  {% if singleNotePage %}
    <div class="mt-auto bg-primary-lightest">
      <div class="resp-max-width pb-4">
        {% assign nextNote = collections.notes | getNextCollectionItem: page %}
        {% assign previousNote = collections.notes | getPreviousCollectionItem: page %}

        <ul class="list-reset m-0 p-0 pt-4 flex flex-column xl--flex-row flex-justify-between text-small">
          {% if nextNote %}
            <li class="mb-0">
              <strong>Next:</strong> <a href="{{ nextNote.url | url }}">{{ nextNote.date | noteDate }}</a>
            </li>
          {% endif %}

          <li id="random-navigator-wrapper" class="random-navigator-wrapper--note mb-0 hidden" class="xl--px-4">
            <strong>Random:</strong> <a href="javascript:void();"></a>
          </li>

          {% if previousNote %}
            <li class="mb-0">
              <strong>Previous:</strong> <a href="{{ previousNote.url | url }}">{{ previousNote.date | noteDate }}</a>
            </li>
          {% endif %}
        </ul>
      </div>
    </div>
  {% endif %}
</article>
