{% assign header_class = "" %}

{% if postLabel == "Note" %}
  {% assign header_class = header_class | append: " pt-2" %}
{% else %}
  {% assign header_class = header_class | append: " header" %}
{% endif %}

<header class="{{ header_class }} bg-primary-light width-100 slant-top-padding slant-bottom-padding" {% if banner_image %}style="background-image: url('{{ banner_image }}')"{% endif %}>
  <div class="header__text {% if banner_image %}transparent-white-bg{% endif %} my-6 resp-max-width">
    <div class="relative py-10">
      <h1 class="my-0">
        {% if postLabel == "Note" %}
          {{ date | noteDate }}
        {% else %}
          {{ title | replace: " - Maxwell Antonucci", ""}}
        {% endif %}
      </h1>

      {% if tagline %}
        <p class="mb-0 mt-2 text-1xl">
          {{ tagline }}
        </p>
      {% endif %}
    </div>
  </div>
</header>
