<nav class="resp-max-width py-8" aria-labelledby="my-pagination">
  <h2 id="my-pagination" class="screenReader">
    Pagination
  </h2>

  <div class="flex flex-column flex-gap-4 lg--flex-row flex-align-center flex-justify-between text-small">
    <div class="flex flex-gap-4 flex-justify-center lg--flex-justify-start">
      {% if page.url != pagination.href.first and pagination.href.first != pagination.href.previous %}
        <a href="{{ pagination.href.first }}">
          First <span class="screenReader">Page</span>
        </a>
      {% elsif page.url == pagination.href.first %}
        <span class="italic">
          First page
        </span>
      {% endif %}

      {% if pagination.href.previous %}
        <a href="{{ pagination.href.previous }}">
          Previous <span class="screenReader">Page</span>
        </a>
      {% endif %}
    </div>

    <ul class="list-reset flex flex-gap-2 flex-justify-center">
      {% for pageEntry in pagination.pages %}
        {% assign inPaginationRange = false %}
        {% assign prevPage1 = forloop.index0 | minus: 1 %}
        {% assign prevPage2 = forloop.index0 | minus: 2 %}
        {% assign nextPage1 = forloop.index0 | plus: 1 %}
        {% assign nextPage2 = forloop.index0 | plus: 2 %}

        {% if page.url == pagination.hrefs[forloop.index0]
          or page.url == pagination.hrefs[prevPage1]
          or page.url == pagination.hrefs[prevPage2]
          or page.url == pagination.hrefs[nextPage1]
          or page.url == pagination.hrefs[nextPage2]
        %}
          {% assign inPaginationRange = true %}
        {% endif %}

        {% if inPaginationRange %}
          <li class="mb-0">
            {% if page.url == pagination.hrefs[forloop.index0] %}
              <span class="pagination-link pagination-link--current" aria-current="page">
                <span class="screenReader">Pagination page</span> {{ forloop.index }}
              </span>
            {% else %}
              <a href="{{ pagination.hrefs[forloop.index0] }}" class="pagination-link">
                <span class="screenReader">Pagination page</span> {{ forloop.index }}
              </a>
            {% endif %}
          </li>
        {% endif %}
      {% endfor %}
    </ul>

    <div class="flex flex-gap-4 flex-justify-center lg--flex-justify-end">
      {% if pagination.href.next %}
        <a href="{{ pagination.href.next }}">
          Next <span class="screenReader">Page</span>
        </a>
      {% endif %}

      {% if page.url != pagination.href.last and pagination.href.last != pagination.href.next %}
        <a href="{{ pagination.href.last }}">
          Last <span class="screenReader">Page</span>
        </a>
      {% elsif page.url == pagination.href.last %}
        <span class="italic">
          Last page
        </span>
      {% endif %}
    </div>
  </div>
</nav>
