{% assign postLimit = limit | default: 999 %}

<section class="post-listing__wrapper {{ wrapper_class }}">
  {% if showHeading %}
    <h2 class="screenReader">
      Blog Post Listing
    </h2>
  {% endif %}

  {% for post in posts limit: postLimit %}
    <article class="px-4 py-8">
      <div class="flex flex-gap-2 flex-align-center">
        {% if post.data.link %}
          {% include externalIcon.liquid
            width: "45px",
            height: "45px" %}
        {% endif %}

        <h3 class="mt-0 mb-1 text-h5">
          <a class="flex flex-align-center flex-gap-4" href="{{ post.url }}">
            {% unless post.data.link %}
              <span class="screenReader">Blog post:</span>
            {% endunless %}

            {{ post.data.title }}
          </a>
        </h3>
      </div>

      <small class="block mb-0">
        <strong>
          <span class="screenReader">Posted on</span>
          {{ post.date | readableDate | date: "%B %e, %Y" }}
        </strong>
      </small>

      {% if post.data.excerpt %}
        <p class="mt-4 mb-0 text-small">
          {{ post.data.excerpt }}
        </p>
      {% endif %}
    </article>
  {% endfor %}
</section>
