{% assign postLimit = limit | default: 999 %}

<section class="post-listing__wrapper {{ wrapper_class }}">
  {% for post in posts limit: postLimit %}
    {% assign post_image = metadata.post.imagePath | append: post.data.image %}

    <article class="post-listing__article pt-1 pb-4 mb-4 lg--mb-1 lg--mb-0 px-0 lg--px-6 flex-item flex flex-column flex-justify-center" {% if post.data.image %}style="background-image: url('{{ post_image }}')"{% endif %}>
      <div class="post-listing__content transparent-white-bg">
        <small class="lg--mt-8 mb-0">
          <strong>
            <span class="screenReader">Posted on</span> {{ post.date | readableDate | date: "%B %e, %Y" }}
          </strong>
        </small>
        <h3 class="mt-0 text-h4">
          <a href="{{ post.url }}">
            <span class="screenReader">Blog post:</span> {{ post.data.title }}
          </a>
        </h3>

        {% if post.data.excerpt %}
          <p class="mb-2">
            {{ post.data.excerpt }}
          </p>
        {% endif %}
      </div>
    </article>
  {% endfor %}
</section>
