{% assign postLimit = limit | default: 999 %}

<section class="flex flex-column pt-4 px-2 flex-gap-4 {{ wrapper_class }}">
  {% if showHeading %}
    <h2 class="screenReader">
      Blog Post Listing
    </h2>
  {% endif %}

  {% for post in posts limit: postLimit %}
    {% assign post_image = metadata.post.imagePath | append: post.data.image %}

    <article class="post-listing__article poke-coloring poke-background--bg poke-border--text relative flex">

      {% if post.data.image %}
        <div class="post-listing__image-wrapper absolute">
          <img
            class="post-listing__image"
            src="{{ post_image }}"
            alt="">
          <div class="post-listing__image-gradient"></div>
        </div>
      {% endif %}

      <div class="post-listing__content {% unless post.data.image %}post-listing__content--full {% endunless %} flex-item poke-color--text p-4 transparent-white-bg">
        <h3 class="mt-0 mb-1 text-h4">
          <a href="{{ post.url }}">
            <span class="screenReader">Blog post:</span>
            {{ post.data.title }}
          </a>
        </h3>

        <small class="block mb-4">
          <strong>
            <span class="screenReader">Posted on</span>
            {{ post.date | readableDate | date: "%B %e, %Y" }}
          </strong>
        </small>

        {% if post.data.excerpt %}
          <p class="mb-0">
            {{ post.data.excerpt }}
          </p>
        {% endif %}
      </div>
    </article>
  {% endfor %}
</section>
