{% assign postLimit = limit | default: 999 %}

<section class="post-listing__wrapper {{ wrapper_class }}">
  {% for post in posts limit: postLimit %}
    {% assign post_image = metadata.post.imagePath | append: post.data.image %}

    <article class="post-listing__article doodle__listing poke-coloring poke-background--bg poke-border--text {% if post.data.image %}poke-background--screen{% endif %} flex-item flex flex-column">
      <div class="post-listing__image {% if post.data.image %}post-listing__image--custom{% endif %} flex-item" {% if post.data.image %}style="background-image: url('{{ post_image }}')"{% endif %}>
        {% unless post.data.image %}
          <div class="doodle__wrapper" aria-hidden="true">
            {% capture doodleAlignment %}{% cycle 'right', 'left' %}{% endcapture %}
            {% include doodle.liquid,
              alwaysShow: true,
              align: doodleAlignment
            %}
          </div>
        {% endunless %}
      </div>

      <div class="post-listing__content poke-color--text transparent-white-bg">
        <small class="mb-0">
          <strong>
            <span class="screenReader">Posted on</span> {{ post.date | readableDate | date: "%B %e, %Y" }}
          </strong>
        </small>
        <h3 class="mt-0 text-h4">
          <a href="{{ post.url }}">
            <span class="screenReader">Blog post:</span> {{ post.data.title }}
          </a>
        </h3>

        {% if post.data.excerpt %}
          <p class="mb-2">
            {{ post.data.excerpt }}
          </p>
        {% endif %}
      </div>
    </article>
  {% endfor %}
</section>
