{% assign postLimit = limit | default: 999 %}

<section class="flex pt-4 px-2 flex-wrap flex-gap-4 {{ wrapper_class }}">
  {% if showHeading %}
    <h2 class="screenReader">
      Blog Post Listing
    </h2>
  {% endif %}

  {% for post in posts limit: postLimit %}
    {% assign post_image = metadata.post.imagePath | append: post.data.image %}

    <article class="post-listing__article doodle__listing poke-coloring poke-background--bg poke-border--text {% if post.data.image %}poke-background--screen{% endif %} flex-item flex flex-column">
      {% if post.data.image %}
        <img class="post-listing__image" src="{{ post_image }}" alt="">
      {% else %}
        {% unless post.data.image %}
          <div class="doodle__wrapper" aria-hidden="true">
            {% include doodle.liquid,
              alwaysShow: true,
              align: 'right'
            %}
          </div>
        {% endunless %}
      {% endif %}

      <div class="post-listing__content {% unless post.data.image %}post-listing__content--full flex flex-column flex-justify-center height-100{% endunless %} flex-item poke-color--text p-4 transparent-white-bg">
        <small class="mb-0">
          <strong>
            <span class="screenReader">Posted on</span> {{ post.date | readableDate | date: "%B %e, %Y" }}
          </strong>
        </small>
        <h3 class="mt-0 text-h4">
          <a href="{{ post.url }}">
            <span class="screenReader">Blog post:</span> {{ post.data.title }}
          </a>
        </h3>

        {% if post.data.excerpt %}
          <p class="mb-0">
            {{ post.data.excerpt }}
          </p>
        {% endif %}
      </div>
    </article>
  {% endfor %}
</section>
