<div class="slant-bottom-left bg-mono-white border-primary-base {% if contentType == 'Note' %}slant-bottom-padding{% endif %}">
  <div class="resp-max-width py-2 flex flex-column-reverse lg--flex-row flex-justify-between flex-gap-2">
    <div class="flex flex-column flex-align-start">
      <p class="my-0 mr-4 text-h6 font-weight-header">
        <a class="text-mono-black" aria-label="Homepage" href="{% if page.url == '/' %}#content{% else %}/{% endif %}">
          Max Antonucci
        </a>
      </p>
      <p class="my-0 text-tiny italic">
        {{metadata.description}}
      </p>
    </div>

    <div class="theme-switcher flex flex-justify-start flex-gap-2 text-tiny">
      {% for theme in themes %}
        <div class="theme-switcher__option flex flex-align-center">
          <input class="theme-switcher__input" type="radio" id="theme-{{ theme.name }}" name="theme-selector" value="{{ theme.name }}"\>
          <label class="theme-switcher__label inline-block px-3 py-1 capitalize text-action-base border-radius-small" for="theme-{{ theme.name }}">
            {{ theme.name }} <span class="screenReader">theme</span>
          </label>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
