<article class="work-item flex flex-column flex-align-center border-mono-black box-shadow-2">
  <div class="work-item__image" style="background-image: url('/assets/images/work/{{ workItem.image }}')"></div>

  <div class="work-item__content flex flex-column px-4 py-4 md--px-6">
    <h3 class="text-h5 mt-0">
      {{ workItem.title }}
    </h3>

    <p class="work-item__text text-small">
      {{ workItem.description }}
    </p>

    <div class="flex flex-wrap flex-gap-4 mt-auto">
      {% if workItem.urls.code %}
        <a href="{{ workItem.urls.code }}">
          View Code <span class="screenReader"> for {{ workItem.title }}</span>
        </a>
      {% endif %}

      {% if workItem.urls.demo %}
        <a href="{{ workItem.urls.demo }}">
          View Demo <span class="screenReader"> for {{ workItem.title }}</span>
        </a>
      {% endif %}
    </div>
  </div>
</article>
