---
layout: layouts/base.liquid
no-max-width: true
---

<article class="resp-max-width">
  {{ content }}
</article>

<ul>
  {% for category in collections.exocortex_menu %}
    <li>
      <a href="{{ category.url }}">
        {{ category.data.title }}
      </a>
    </li>
    <ul>
      {% for entry in category.entries %}
        <li>
          <a href="{{ entry.url }}">
            {{ entry.data.title }}
          </a>
        </li>
      {% endfor %}
    </ul>
  {% endfor %}
</ul>
