---
layout: layouts/base.liquid
---

<article id="content">
  {% if layout contains "page.liquid" %}
    {% include pageHeader.liquid %}
  {% elsif layout contains "post.liquid" %}
    {% include postHeader.liquid %}
  {% endif %}

  {{ content }}

  {% if link.url and link.title %}
    <p class="font-weight-bold">
      Read
      <a href="{{ link.url }}" rel="external">
        {% if link.author %}
          {{ link.title }} by {{ link.author }}.
        {% else %}
          {{ link.title }}.
        {% endif %}
      </a>
    </p>
  {% endif %}

  {% footnotes %}
</article>

<script
  async
  src="https://platform.twitter.com/widgets.js"
  charset="utf-8"></script>
