---
layout: layouts/base.liquid
---

{% assign banner_image = metadata.post.imagePath | append: image %}

<header class="{% if image %}header--with-custom-image{% else %}header--with-image{% endif %} width-100 py-3" {% if image %}style="background-image: url('{{ banner_image }}')"{% endif %}>
  <div class="header__text resp-max-width">
    <div class="relative py-4">
      <div class="flex flex-justify-between">
        <small class="block mb-2 font-weight-bold">
          {{ date | toUTCString }}
        </small>

        <span class="hidden-md-down">
          {% include tagList
            tags: tags
            rightAlign: true
          %}
        </span>
      </div>

      <h1 class="my-0 text-h2">
        {{ title }}
      </h1>
    </div>

    <p class="py-0 mt-1 mb-2 text-small font-weight-light">
      {{ excerpt }}
    </p>
  </div>
</header>

<article id="content" class="post-content resp-max-width width-100 py-4 sm--py-6 lg--mt-4">
  {{ content | safe }}

  {% if featured_image_link %}
    <small class="inline-block pt-8 mb-0 italic">
      <a href="{{ featured_image_link }}" target="_blank" rel="noopener">
        Featured image courtesy of this link.
      </a>
    </small>
  {% endif %}
</article>

{% assign nextPost = collections.posts | getPreviousCollectionItem: page %}
{% assign previousPost = collections.posts | getNextCollectionItem: page %}

<div class="bg-primary-lightest pt-4">
  <div class="resp-max-width">
    <ul class="list-reset m-0 p-0">

      {% if nextPost %}
        <li class="flex flex-column md--flex-row mb-0 pb-4">
          <strong class="pr-2">Next Post:</strong>
          <a class="random-navigator__next-link" href="{{ nextPost.url | url }}">
            {{ nextPost.data.title }}
          </a>
        </li>
      {% endif %}

      <li id="random-navigator-wrapper" class="hidden flex flex-column md--flex-row mb-0 pb-4">
        <strong class="pr-2">Random Post:</strong>
        <a href="javascript:void();"></a>
      </li>

      {% if previousPost %}
        <li class="flex flex-column md--flex-row mb-0 pb-4">
          <strong class="pr-2">Previous Post:</strong>
          <a class="random-navigator__previous-link" href="{{ previousPost.url | url }}">
            {{ previousPost.data.title }}
          </a>
        </li>
      {% endif %}
    </ul>
  </div>
</div>
