---
layout: layouts/base.liquid
---

{% assign banner_image = "/assets/images/featured/" | append: image %}

<header class="{% if image %}header--with-custom-image{% else %}header--with-image{% endif %} width-100 py-3" {% if image %}style="background-image: url('{{ banner_image }}')"{% endif %}>
  <div class="header__text resp-max-width">
    <div class="relative py-4">
      <small class="block mb-2 font-weight-bold">
        Blog Post from {{ date | date: '%B %d, %Y' }}
      </small>

      <h1 class="my-0 text-h2">
        {{ title }}
      </h1>
    </div>

    <p class="py-0 mt-1 mb-2 text-small font-weight-light">
      {{ excerpt }}
    </p>
  </div>
</header>

<article id="content" class="post-content resp-max-width width-100 py-4 sm--py-6 lg--mt-4">
  {{ content | safe }}
</article>
