---
layout: layouts/base.liquid
---

{% assign banner_image = metadata.post.imagePath | append: image %}

<header class="{% if image %}header--with-custom-image{% else %}header--with-image{% endif %} width-100 py-3" {% if image %}style="background-image: url('{{ banner_image }}')"{% endif %}>
  <div class="header__text resp-max-width">
    <div class="relative py-4">
      <small class="block mb-2 font-weight-bold">
        Blog Post from {{ date | date: metadata.note.dateFormat }}
      </small>

      <h1 class="my-0 text-h2">
        {{ title }}
      </h1>
    </div>

    <p class="py-0 mt-1 mb-2 text-small font-weight-light">
      {{ excerpt }}
    </p>
  </div>
</header>

<article id="content" class="post-content resp-max-width width-100 py-4 sm--py-6 lg--mt-4">
  {{ content | safe }}
</article>

{% assign nextPost = collections.posts | getNextCollectionItem: page %}
{% assign previousPost = collections.posts | getPreviousCollectionItem: page %}

<div class="resp-max-width">
  <ul class="list-reset m-0 p-0">

    {% if nextPost %}
      <li>
        Next: <a href="{{ nextPost.url | url }}">{{ nextPost.data.title }}</a>
      </li>
    {% endif %}

    <li id="random-navigator-wrapper" class="hidden">
      Random: <a href="javascript:void();"></a>
    </li>

    {% if previousPost %}
      <li>
        Previous: <a href="{{ previousPost.url | url }}">{{ previousPost.data.title }}</a>
      </li>
    {% endif %}
  </ul>
</div>
